/* 
blue: #1B98E0
black: #27292d
white: #FFFFFF
 */

* {
    box-sizing: border-box; 
    font-family: sans-serif;
}
 body, html{
    height: 100vh;
    background: #27292D;
}

.container {
    position: relative;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    margin: auto;
}


/* Styling for the header */
.header {
    width: 94%;
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.home {
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    background-color: #1B98E0;
    display: flex;
}

#home-icon {
    height: 100%;
    width: 100%;
    margin: auto;
}

.nav-bar {
    /* flex: 1; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    /* align-items: stretch; */
    /* padding: 5px; */
}

.nav-bar div{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin: auto 0;
}

div .left-pane{
    margin-right: 40px;
}
.left-pane div{
    margin-right: 10px;
}

.icon {
    width: 16px;
    height: 16px;
}

.header-items {
    display: flex;
    flex-direction: row;
    height: 25px;
    justify-content: center;

}

.header-items *{
    margin: auto;
    margin-right: 3px;
}

.header-item-text {
    font-size: 12px;
    color: #27292D;
    font-weight: bold;
}


.right-pane {
    display: flex;
    flex-direction: row;
    margin-right: 0px;
}

.follow-shuffle-brightness .icon{
    height: 10px;
    width: 10px;
}

.follow-shuffle-brightness p{
    color: #27292D;
    font-size: 11px;
    
}

.right-pane img{
    margin: auto;
    margin-right: 10px;
}

.follow-shuffle-brightness div{
    margin-right: 15px;
}

#follow {
    margin-right: 3px;
}

.search-bar {
    flex: 1;
    border: 1px solid;
    border-color: #d1cfcf;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    height: 50px;
    padding: 13px;
    /* width: 300px; */
}

.search-bar *{
    margin-right: 10px;
}

#search {
    width: 160px;
    font-size: 12px;
    border: 0px;
    outline: none;
    color: #a2a2a2
}

#search:hover{
    border: 1px solid;
    border-color:#d1cfcf;
    border-radius: 10px;
    padding-left: 5px;
}

/* Styling for the main body */
.main-body {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

.body-header{
    width: 100%;
    border: 2px solid;
    border-color: #3c3f45;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px; 
}

h3 {
    color: #1881be;
    margin: 15px;
    margin-left: 20px;
}

.movie-pane {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    margin: 0 auto;
}

.movie {
    position: relative;
}

.movie-preview-img {
    height: 100%;
    width: 100%;
    display: relative;
    border-radius: 15px;
}

.gradient{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgba(39, 39, 39, 0.7));
    border-radius: 15px;
}

.tag {
    position: absolute;
    background-color: #1881be;
    height: 20px;
    top: 15px;
    left: 15px;
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 0 20px;
}

.rating-container {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 20px;
    border-color: #1881be;
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.release-date-title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-weight: bold;
    color: white;
    margin: auto;
    padding-right: 10px;
}


.release-date-title p{
    margin: 0;
    margin-bottom: 5px;
}
.date {
    font-size: 12px;
}

.title {
    font-size: 150%;
}